*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family:'Segoe UI', sans-serif;
}
/* hsl(225, 6%, 25%) */
.top-pane {
  background-color: hsl(225, 6%, 25%);
}

.pane {
  height: 50vh;
  display: flex;
}

.editor-container {
  flex: 1 0 0%;
  display: grid;
  grid-template-rows: auto 1fr;
  padding: 0.5rem;
  background-color: hsl(225, 6%, 25%);
}

.editor-container.collapsed {
  flex-grow: 0;
}

/* .editor-container.collapsed .CodeMirror-scroll {
  position: absolute;
  overflow: hidden !important;
} */

.editor-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: hsl(225, 6%, 13%);
  color: white;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  border-radius: 0.5rem 0.5rem 0 0;
}

.expand-collapse-btn {
  margin-left: 0.5rem;
  background-color: none;
  color: white;
  border: none;
  cursor: pointer;
}

.CodeMirror {
  height: 100% !important;
}

.code-mirror-wrapper {
  border-radius: 0 0 0.5rem 0.5rem;
  overflow: hidden;
}